

tx {  vertical-align: top;  background-color: #bfbfbf; }



th { font-size:90%;font-weight: normal;text-align: left; border-top: 1px solid grey; border-left: 1px solid grey; border-bottom: 1px solid grey; border-right: 1px solid grey;}


a:link { text-decoration:underline overline; font-weight:bold; color:black; background-color:#eeeeee; }
a:visited { text-decoration: none; font-weight:bold; color:black;  }
a:hover { text-decoration:underline overline; font-weight:bold; background-color:#ef9e9e; }
a:active { text-decoration:none; font-weight:bold;  }
a:focus { text-decoration:none; font-weight:bold;  }




tx2 {  width: 150px; background-color: white ; text-color: blue; border: 1px solid red; height: 10px;}

